<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">{{ snippet.title }}</h5>
    <pre><code class="language-{{ snippet.language }}">{{ snippet.code | escape }}</code></pre>
  </div>
</div>
